<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <head>
    <title>Corona Virus Tracker application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  	<div class="p-3 mb-2 bg-info text-dark">
    <h1>Corona Virus Tracker application</h1><br>
    <p>This Application List the Current number of cases reported across the globe</p>
    
    
    <div class="jumbotron">
    <h1 class="display-4" th:text="${totalDeathsReported}"></h1>
    <p class="lead">Total cases reported as of Today</p>
    <hr class="my-4">
    
   
    </div>
    </div>
    <div class="container">
  <table class="table table-success table-striped-columns">
      <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Deaths Reported</th>
         <th>Changes Since Last Day</th>
      </tr>
      <tr th:each="locationstate : ${LocationStates}">
        <td th:text="${locationstate.state}"></td>
        <td th:text="${locationstate.country}"></td>
        <td th:text="${locationstate.latestTotalDeaths}">0</td>
        <td th:text="${locationstate.differFromPrevay}">0</td>
      </tr>
    </table>
    </div>
  </body>

</html>